@import url('style.css');

section{
    background-image: url('hotel-1831072_1280.jpg');
    margin-top: 40px;
    display:flex;
    max-width: 1190px;
    margin: 0 auto;
    padding: 20px;
}

.text_cont{
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10em;
    margin-bottom:7em;
    margin-left: 30em;
    max-width: 600px;
}

p{
    font-size: 15px;
}

.get{
    border-radius: 10px;
    padding: 7px 15px;
}
